<body>
    <div class="texto">
        <h1 class="Texto" alt="">¿Quieres meditar?</h1>
    </div>
        <div class="container" alt="">
            <div class="card">
                <figure>
                    <img src="../../../assets/Agobio - nueva.png">
                </figure>
                <div class="contenido">
                    <h3>¿Quieres meditar porque te sientes agobiado?
                    </h3>
                    <a (click)="redirectToAgobio()">Leer más</a>
                </div>
            </div>

            <div class="card">
                <figure>
                    <img src="../../../assets/Ansiedad - nueva.png">
                    
                </figure>
                <div class="contenido">
                    <h3>¿Quieres meditar porque te sientes ansioso?</h3>
                    <a (click)="redirigirAAnsiedad()">Leer más</a>
                </div>
            </div>

            <div class="card">
                <figure>
                    <img src="../../../assets/Amor Propio - nueva.png">
                </figure>
                <div class="contenido">
                    <h3>¿Quieres meditar para crear un espacio de amor propio?2</h3>
                    <p></p>
                    <a (click)="redirigirAAmorPropio()">Leer más</a>
                </div>
            </div>
        </div>
</body>