<header>
  <div class="container">
    <div class="logo">
      <img src="../../../assets/logofundayudate.jpg" width="200" height="40">
    </div>
    <nav class="nav_check">
      <input type="checkbox" id="tab-nav" class="tab-nav">
      <label for="tab-nav" class="label">
        <div class="burg"></div>
        <div class="burg"></div>
        <div class="burg"></div>
      </label>
      <ul class="contenido_nav">
        <a href="#">Inicio</a>
        <a href="agobio/agobio.component.html">Agobio</a> 
        <a href="amor-propio/amor-propio.component.html">Amor Propio</a>
        <a href="ansiedad/ansiedad.component.html">Ansiedad</a>
      </ul>
    </nav>
  </div>
</header>