<app-navbar></app-navbar>
<body>
    <div class="container">
<div class="texto">
    <p> La angustia es la emoción más universalmente experimentada por el ser humano, tiene un efecto de inmovilización y conduce al sobrecogimiento en innumerables ocasiones; se define como una emoción compleja, difusa y desagradable que conlleva serias repercusiones psíquicas y orgánicas en el sujeto; la angustia es visceral, obstructiva y aparece cuando un individuo se siente amenazado por algo (Ayuso, 1988). Es un sentimiento vinculado a situaciones de desesperación, donde la característica principal es la pérdida de la capacidad de actuar voluntaria y libremente por parte del sujeto, es decir, la capacidad de dirigir sus actos. Por tanto, ésta es un estado de intranquilidad o inquietud muy intensas causado especialmente por algo desagradable o por la amenaza de una desgracia o un peligro.
        
        La angustia se transforma en problema cuando ésta se ha apoderado del individuo de tal forma que es el propio individuo el que se convierte en la misma, es decir, el ser humano es angustia en sí. Por tanto, ese miedo, la desesperación y/o la incertidumbre, que pueden ser ocasionada por distintas situaciones de la vida cotidiana, nos paralizan y nos dominan. Es por esto que cuando nos sintamos angustiado es bueno darnos una pausa y busquemos ser consciente de lo que sentimos, y confirmar nuestra  capacidad de lograr dominar la angustia sin que ella nos domine; para lo cual es buscar controlar nuestra respiración, la tensión de nuestros músculos y los pensamientos repetitivos (aceptar que están ahí, pero que somo más que eso); puede ayudar a calmarnos para así hacer frente al evento que está generando la angustia y poder responder de forma eficiente.</p>
</div>
<div class="imagen-audio">
<div class="audios">
<section>
    <p class="textoAudio">Meditación de 4 minutos</p>
        <audio controls>
            <source src="../../../assets/AgobioVideo1.mp3" type="audio/mp3">
        </audio>
</section>
<section>
    <p class="textoAudio">Meditación de 3 minutos</p>
    <audio controls>
        <source src="../../../assets/AgobioVideo2.mp3" type="audio/mp3">
    </audio>
</section>
<section>
    <p class="textoAudio">Meditación de 9 minutos</p>
    <audio controls>
        <source src="../../../assets/AgobioVideo3.mp3" type="audio/mp3">
    </audio>
</section>
</div>
<div class="imagen">
    <img src="../../../assets/Agobio-removebg-preview 1.png">
</div>
</div>
</div>
</body>